<section class="section">
  <div class="wrapper">
    <div class="grid">
      <div class="grid__item">
          {% comment %}
          Regular page content goes here.
          {% endcomment %}
        <div class="rte">
          <h1>404 Page Not Found</h1>
          <p>The page you requested does not exist. Click <a href="/collections/all">here</a> to continue shopping.</p>
        </div>
      </div>
    </div>
  </div>
</section>



