{% comment %}
  404 Hero
{% endcomment %}
<section class="hero hero--xsmall">
  <div class="hero__viewport">
    <div class="hero__inner hero__inner--light">
      <div class="hero__body wrapper table">
        <div class="table-cell text-center">
          <h1 class="light mb0">404 Page Not Found</h1>
        </div>
      </div>
    </div>
    <div class="hero__image" style="background-image: url('//cdn.shopify.com/s/files/1/0666/9741/files/sample_404.jpg');"></div>
  </div>
</section>


<section class="section">
  <div class="wrapper">
    <div class="grid">
      <div class="grid__item">
          {% comment %}
          Regular page content goes here.
          {% endcomment %}
        <div class="rte">
          <h2 class="light">We're sorry...</h2>
          <p>The page you requested does not exist.</p>
          
          <a href="#" class="btn btn-primary btn-icon btn-icon--left mt20"><i class="fa fa-shopping-cart"></i><span>Shop BioLite</span></a>

          <a href="#" class="btn btn-outline-green btn-icon btn-icon--left mt20"><i class="fa fa-home"></i><span>BioLite Home</span></a>
        </div>
      </div>
    </div>
  </div>
</section>



