<div id="locations-box">
	<i class="fa fa-circle-border fa-map-marker"></i>

	<div id="locations_chooser">

		<select id="locations" name="locations"></select>

	</div>
	<i class="fa fa-r fa-angle-down"></i>

</div> 