{% assign currencies = settings.supported_currencies | split: ' ' %}
{% assign locations = settings.currencies_to_locations | split: ' ' %}

<span class="money" 
{% for variant in product.variants  %}
	{% assign splitprice = variant.title | split: '-' %}
	{% if splitprice.first == 'price' %}
		{% for location in locations %}
			{% if location == splitprice.last %}
				{% assign i = forloop.index %}
				data-currency-{{ currencies[i] }}="{{ variant.price }} {{ currencies[i] }}"
			{% endif %}
		{% endfor  %}
	{% endif %}
{% endfor  %}>
 {{ product.price | money_with_currency }}
</span> 