{% comment %}
  This is Tech Specs portion for the product: BioLite eGift.
  I don't think we'll be displaying Tech Specs on the eGift product page, but we'll have to come up with a different template for that.
  You can replace the .product-specs__img with an image you upload onto Shopify.

  Begin editing below this comment
{% endcomment %}

<div id="product-specs__expander" class="product-specs__expander">
  <div class="product-specs__body">

    <div class="product-specs__top clearfix">
      <div class="grid__item large--two-thirds">
        <table class="product-specs__table">
          <tbody>
            <tr>
              <td class="spec-title">Packed Size</td>
              <td class="spec-desc"><span>Height 8.25 inches (209.6 mm) <br/> Width 5 inches (127 mm)</span></td>
            </tr>
            <tr>
              <td class="spec-title">Weight</td>
              <td class="spec-desc"><span>Height 8.25 inches (209.6 mm) <br/> Width 5 inches (127 mm)</span></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="grid__item large--one-third">
        <img class="product-specs__img" src="https://cdn.shopify.com/s/files/1/0666/9741/t/23/assets/product-specs--campstove-1.jpg" alt="CampStove">
      </div>
    </div><!-- .product-specs__top -->

    <div class="product-specs__middle clearfix">
      <div class="grid__item large--one-half">
        <div class="product-specs__header-icon"></div>

        <table class="product-specs__table product-specs__table--half">
          <tbody>
            <tr>
              <td class="spec-title">Fuel</td>
              <td class="spec-desc"><span>Renewable BioMass <br/> (twigs, pinecone, wood pellets, etc.)</span></td>
            </tr>
            <tr>
              <td class="spec-title">Fire Quality</td>
              <td class="spec-desc"><span>1.6 oz (46 grams) of wood to boil <br/> 1 liter of water</span></td>
            </tr>
            <tr>
              <td class="spec-title">Fire Power Output</td>
              <td class="spec-desc"><span>Peak: 3.4 kW (LO), 5.5 kW (HI)</span></td>
            </tr>
            <tr>
              <td class="spec-title">Boil Time</td>
              <td class="spec-desc"><span>4.5 minutes to boil 1 liter of water <br/> Boiling times vary by strength of fire</span></td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="grid__item large--one-half">
        <div class="product-specs__header-icon"></div>

        <table class="product-specs__table product-specs__table--half">
          <tbody>
            <tr>
              <td class="spec-title">Compatible Devices</td>
              <td class="spec-desc"><span>Powers most USB-chargeable <br/> devices including smart phones</span></td>
            </tr>
            <tr>
              <td class="spec-title">USB Power Output</td>
              <td class="spec-desc"><span>Max Continuous: 2W @5V <br/> Peak: 4W @5V</span></td>
            </tr>
            <tr>
              <td class="spec-title">Charging Time</td>
              <td class="spec-desc"><span>iPhone 4S (2G): 20 minutes of <br/> charging provides 60 minues of <br/> talk time. Charging times vary by <br/>device and by strength of fire</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div><!-- .product-specs__middle -->

    <div class="product-specs__bottom clearfix">
      <div class="grid__item large--two-thirds">
        <table class="product-specs__table">
          <tbody>
            <tr>
              <td class="spec-title">In The Box</td>
              <td class="spec-desc"><span>Stuff Sack <br/> Instructions <br/> USB Chord (for internal battery charging) <br/> BioLite Stove <br/> Firelighter</span></td>
            </tr>
          </tbody>
        </table>
      </div>  
      <div class="grid__item large--one-third">
        <p class="product-specs__footnote"><em>(Note: Most devices come with specific <br/> charging tips. In an effort to reduce <br/> waste, we have not included charging <br/> cables for devices.)</em></p>
      </div>
    </div>

  </div>

    <div class="product-specs__expander-btn btn-circle-tab btn-circle-tab--bottom" data-control-expander="#product-specs__expander">
      <i class="fa fa-plus"></i>
    </div>
</div>